[Desktop Entry]
Type=Application
Name=Redragon Volume Sync
GenericName=Headset Volume Synchronizer
Comment=Sincroniza volumes de headsets Redragon sem fio
Icon=com.github.cristiano.RedragonVolumeSync
Exec=redragon-volume-sync-gui
Terminal=false
Categories=AudioVideo;Audio;Utility;
Keywords=audio;volume;headset;redragon;alsa;sync;
StartupNotify=true
X-Flatpak-RenamedFrom=h878-volume-sync.desktop;
